<div class="articleItem" url="<%= article.url %>">
    <img class="img-rounded" src="<%= article.contentImg %>" >
    <div id="content">
      <div id="userName">
        <%= article.userName %>
      </div>
      <div id="title">
        <%= article.title %>
      </div>
    </div>
    <div id="clearBoth"></div>
</div>
