<div id="articleList">
    <img src="<%= article.contentImg %>" >
    <div id="articleContent" url="<%= article.url %>">
      <div id="userName">
        <%= article.userName %>
      </div>
      <div id="title">
        <%= article.title %>
      </div>
    </div>
    <div id="clearBoth"></div>
</div>
