<div class="articleBrief">
    <img src="<%= article.contentImg %>" />
    <div class="articleTitle" url="<%= article.url %>">
        <span class="userName">
            <%= article.userName %>
        </span>
        <span class="title">
            <%= article.title %>
        </span>
    </div>
</div>