<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <div class="typeList">
    <ul>
      <% typeList.forEach(function(type) { %>
        <li class="typeItem">
          <a href="/category/<%= type.id %>"><%= type.name %></a>
        </li>
      <% }) %>
    </ul>
  </div>
  <div class="articleBriefList">
    <% if (typeof(pagebean) != 'undefined' && pagebean) { %>
      <% pagebean.contentlist.forEach(function(article) { %>
        <% include article %>
      <% }) %>
    <% } %>
  </div>
</body>
</html>