body {
  margin: 0px;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#main {
  margin: 0 auto;
  width: 600px;
}

a {
  color: #00B7FF;
}

#clearBoth {
  clear: both;
}

.typeList {
  background: #bebebe;
  width: 150px;
  float: right;
}

.articleList {
  float: left;
  margin-left: 15px;
}

.articleItem {
  height: 60px;
  cursor: pointer;
}

.articleItem:hover {
  background:rgb(181, 181, 181);
}

.articleItem>img {
  width: 50px;
  height: 50px;
  float: left;
  margin-top: 5px;
}

.articleItem>#content {
  padding-left: 15px;
  overflow: hidden;
}

.articleItem #userName {
  font-weight: bold;
  margin-top: 10px;
}
